.blackBackGround{
     background-color:black;
}

.blueBackground{
    background-color:#44B2E4;
    
    
}
.orangeBackground{
    background-color:#F6B03F;
    
    
}

.leftPadding{
    padding-left: 70px;
}

.rightPadding{
padding-right: 262px;
}

.recognizesThat{
    color:#44B2E4;
    padding-right: 189px;
    padding-left: 1px;
    font-size: 16px;
}

.colorBlue{
    
    
    color:#44B2E4;
    width:310px;
    border-width: 3px 10px 4px 20px;
    
}

.fontSize{
    font-size:15px;
    
}

.borderSize{
    border-width: 2px;
    background-color:black;
}

.imgMargin{
    
        margin-top: -35px;
    
    
    
}

.fontSizeFirstRow{
    font-size:20px;
}